<div class="ui piled segment">
  <div class="ui circular segment">
    <h2 class="ui header">
      All The <br> Blogs
      <div class="sub header">Are Below</div>
    </h2>
  </div>

  <% @blogposts.reverse.each do |post| %>
    <p><%= link_to post.title, blogpost_path(post) %></p>
    <p> Post ID <%= post.id %> </p>
    <p> Post Author <%= post.user.username.titleize %>
    <td><%= link_to 'Show', blogpost_path(post) %></td>
  <% end %>
</div>
