<div class="ui piled segment">
  <div class="ui circular segment">
    <h2 class="ui header">
      Create a <br> new 
      <div class="sub header">BLOG POST</div>
    </h2>
  </div>
  <%= render 'form' %>
</div> 