<h1>Hello Farmer!</h2>

<p> Welcome to Seattle Stone Soup, the Community Garden. Please utilize the website as an awesome tool, and let us know of any bugs.. (Code bugs, not worms and such.. UNLESS its a butterfly)!</p>

<p> Kind Regards, Seattle Stone Soup Crew </p>