<!-- <div class="ui buttons">
  <div class="ui button">Sign In</div>
  <div class="or"></div>
  <div class="ui positive button">Sign Up</div>
</div> -->
<!-- header with title and green background -->
<div class= "ui segment">
  <h1 class="ui green center aligned header ">Seattle Stone Soup</h1>
<p class="ui center aligned inverted green  header">A neighborly interface to our local pea patch</p>
</div>
<!-- sign in and sign up: to only be visable to non users -->
<!-- Log In -->
<div class="ui vertically divided grid">
  <div class="three column row">
    <div class="column">
      <div class="ui fluid form segment">
        <h3 class="ui header">Log-in</h3>
        <div class="field">
          <label>Username</label>
          <input placeholder="Username" type="text">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password">
        </div>
        <div class="ui blue submit button">Login</div>
      </div>
    </div>
    <!-- Sign Up -->
    
    <div class="column">
      <div class="ui fluid form segment">
        <h3 class="ui header">New? Sign in to See it all.</h3>
        <div class="centercolumnbutton">
          <div class="center aligned column">
            <div class="huge green ui labeled icon button">
            <i class="signup icon"></i>
             Sign Up
            </div>
          </div>
        </div>
    </div>
      <!-- Sign Up with Twitter -->
    </div>
    <div class="column">
      <div class="ui fluid form segment">
        <h3 class="ui header">Twitter User?</h3>
        <div class="centercolumnbutton">
          <div class="center aligned column">
            <div class="ui blue button">
          <i class="twitter icon"></i>
          Sign In With <br> Twitter
          
           <%#= link_to "signin", "/signin" %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

