/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= semantic.css
 *= require_fonts
 *= require_tree .
 */

/* body {
  background: url(http://3.bp.blogspot.com/-_KddICSRuK8/Ug5hEozpQeI/AAAAAAAAKBw/qTxqMciHT6Q/s1600/fruits-and-vegetables.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;      
    background-size: cover;         
}*/
 
 

.centercolumnbutton {
  padding-top: 60px;
  padding-bottom: 80px;
}

h1{
  font-size: 70px;
  text-align: center;
}
.signin {
  max-width: 400px;
}

.ui.fluid.segment {
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: 10px 10px 5px #C0C0C0 blur;
  -moz-box-shadow: 10px 10px 5px #C0C0C0;
  box-shadow: 10px 10px 5px #C0C0C0;
}

.ui.segment {
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: 10px 10px 5px #C0C0C0;
  -moz-box-shadow: 10px 10px 5px #C0C0C0;
  box-shadow: 10px 10px 5px #C0C0C0;
}

/*.calendar td { 
  height: 100px; 
  width: 14.28%; 
}*/