/*// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


body {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("http://simplesuccessforperfectplants.com/images/Retail-Web-Background-2.jpg");
  background: cover;
  background-repeat:no-repeat;
}

.notice {
  background: { color: #DCDCDC;
                opacity: 0.2;
                }
  width: 300px;
  margin: auto;
  font-size: 18px;
  border-radius: 25px;
  text-align: center;

}

